@import '../sass-utils/mixins';
.banner-slider-wrapper  {
  .banner-section-container  {
    .single-banner-section {
      position: relative;
      z-index: 1;
      height: 600px;
      background-color: #ddd;
      display: flex;
      align-items: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: $white-color;
      @include medium {
        height: 450px;
      }
      @include extrasmall {
        height: 300px;
      }
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: $overlay-color;
        z-index: -1;
      }
  
      .single-post-meta {
        text-transform: uppercase;
        margin-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        a {
          color: $white-color;
        }
      }
      h2 {
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        font-weight: 700;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 50px;
        a{
          color: $white-color;
        }
        @include extrasmall {
          font-size: 20px;
        }
        @include small {
          font-size: 30px;
        }

      }
      .single-post-footer {
        text-transform: uppercase;
        padding-left: 15px;
        padding-right: 15px;
        a {
          color: $white-color;
        }
      }
    }
  }
  .swiper-button-next {
    color: $white-color;
  }
  .swiper-button-prev {
    color: $white-color;
  }
  .swiper-pagination-bullet-active {
    background-color: $white-color;
  }

}
