@import '../sass-utils/mixins';
.site-footer {
  background-color: $dark-color;
  padding-top: 80px;
  padding-bottom: 80px;
  color: $white-color;
  @include extrasmall {
    padding: 40px 0px;
  }

  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    @include extrasmall {
      display: block;
    }
  }

  .footer-left {
    @include extrasmall {
      margin-bottom: 30px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;

      li {
        a {
          color: $white-color;
          margin-right: 20px;
          transition: 0.3s;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
    .site-info {
      margin-top: 50px;
      @include extrasmall {
        margin-top: 20px;
      }
    }
    .site-info p {
      margin: 0;
      padding: 0;
      font-size: 14px;
    }
  }
  .footer-right {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    p {
      margin: 0;
      padding: 0;
      margin-bottom: 30px;
      @include extrasmall {
        margin-bottom: 15px;
      }
    }
  }

}