.site-footer {
  background-color: $dark-color;
  padding-top: 80px;
  padding-bottom: 80px;
  color: $white-color;

  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-left {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;

      li {
        a {
          color: $white-color;
          margin-right: 20px;
        }
      }
    }
    .site-info {
      margin-top: 50px
    }
    .site-info p {
      margin: 0;
      padding: 0;
      font-size: 14px;
    }
  }
  .footer-right {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    p {
      margin: 0;
      padding: 0;
      margin-bottom: 30px;
    }
  }

}