@import '../components//subscribe';
.site-header {
  padding: 20px 0px;
  &.menu-hide{
    opacity: 0;
    display: none;
    visibility: hidden;
  }
  .header-content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    .header-search-form {
      flex: 0 0 25%;
      max-width: 100%;
      form {
        position: relative;
        height: auto;
        input {
          width: 100%;
          padding: 10px;
          padding-left: 40px;
          border: none;
          background-color: #ececec;
          border-radius: 30px;
          box-sizing: border-box;
        }
        button {
          background: transparent;
          border: none;
          border-radius: 0;
          box-shadow: none;
          color: #32373c;
          display: block;
          height: 20px;
          position: absolute;
          left: 6px;
          top: 50%;
          text-shadow: none;
          line-height: 20px;
          transform: translateY(-50%);
          cursor: pointer;
          svg {
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .header-site-meta {
      flex: 0 0 50%;
      max-width: 100%;
      text-align: center;
      @import '../components/logo';
    }

    .header-subscribe-btn {
      flex: 0 0 25%;
      max-width: 100%;
      text-align: right;
      .button {
        @extend .button;
        font-weight: 400;
        background-color: $primary-color;
        color: $white-color;
      }
    }
  }
  @import '../layout/navigation';
}


.site-header-2 {
  opacity: 0;
  visibility: hidden;
  z-index: 99999; 
  position: fixed;
  width:100%;    
  top: 0;
  -webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  -ms-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;

  &.header-show {
    opacity: 1;
    visibility: visible;
  }
  .header-2-top-wrapper {
    background-color: $white-color;
    padding: 10px 0px;
    .site-header-2-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;
      .site-header-2-logo {
        h1 {
          margin: 0;
          padding: 0;
          a {
              color: $text-color;
              text-transform: uppercase;
            }
          }
        }
        
      .site-header-2-menu {
       ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: end;
        li {
          margin-left: 20px;
          a {
            color: $text-color;
          }
        }
       }
      }
    }
  }
  

  .header-2-search {
    background-color: $primary-color;
    padding: 5px 0px;
    form {
      position: relative;
      height: auto;
      input {
        width: 100%;
        box-sizing: border-box;
        padding: 9px 10px;
        border: none;
        background-color: transparent;
        color: $white-color;
        padding-left: 40px;
        &::-webkit-input-placeholder {
          color: $white-color;
        }
        &::-moz-placeholder {
          color: $white-color;
        }
        &::-ms-input-placeholder {
          color: $white-color;
        }
        &::-moz-placeholder {
          color: $white-color;
        }
        &::-moz-focus-inner {
          outline-width: 0;
        }
        &::-moz-focus-outer {
          outline-width: 0;
        }
      }
      button {
        background: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
        color: #32373c;
        display: block;
        height: 20px;
        position: absolute;
        left: 6px;
        top: 50%;
        text-shadow: none;
        line-height: 20px;
        transform: translateY(-50%);
        cursor: pointer;
        svg {
          height: 100%;
          width: 100%;
          fill: $white-color;
        }
      }
    }
  }
}

.admin-bar .site-header-2{ 
  top: 32px;    
}
