$heading-font : 'Khand', sans-serif;
$body-font : 'Invention', sans-serif;


$primary-color : #009791;
$secondary-color : #333e47;
$overlay-color : rgba(0, 0, 0, 0.4);
$text-color : #5a5a5a;
$white-color : #ffffff;

