.subscribe-form-wrapper {
    position: fixed;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    width: 300px;
    top: 50%;
    z-index: 9999999;
    background: #fff;
    text-align: center;
    padding: 30px;
    border: 1px solid #000;
    display: none;
    visibility: hidden;
    opacity: 0;
}

.subscribe-form-wrapper.show {
  opacity: 1;
  visibility: visible;
  display: block;
}

.subscribe-form-wrapper input[type=email] {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 15px 13px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.subscribe-form-wrapper input[type=submit] {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: transparent;
  padding: 14px 30px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.close-btn {
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}